body {
    background-color:#aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
}

body .card-style{
    height: auto;
    background-color: #D4E9E7;
    position: relative;
    margin: auto;
    width: 50%;

}

div .title-card {
    background-image: url(/midterm/images/lone-starfish-wide.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;   
}

div .title-card h1 {
    text-align: center;
    color: white;
    line-height:  300px;
}

.navigations {
    list-style: none;
    overflow: hidden;
}

.navigations li {
    list-style: none;
    font-style: none;
    float: left;
}

.navigations li nav {
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    padding: 8px;
}

article h2{
    padding-left: 1%;
}

article img{
    float: left;
    max-width: 30%;
    height: auto;
    padding-right: 1%;
    padding-left: 1%;
    display: inline-flex;
}

article p, li {
    font-style: normal;
    word-wrap: normal;
    padding-left: 1%;
    font-size: 13.5px;
}

.form-submission {
    padding: 2%;
    padding-right: 5%;
    width: 90%;
    border-style:solid;
    border-width:thin;
    font-size: 14px;
    margin:auto;
}



.form-section h2 {
    padding: 1.5%;
}

.form-submission input{
    padding: 1%;
}

section div .field-inputs input, textarea{
    width: 100%;

}

section div .field-inputs textarea{
    width: 101%;
    resize: none;
    height: 5rem;
}


footer{
    text-align: right;
    padding: 20px;
    
}