body {
    background-color:#aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

body .card-style{
    width: 60%;
    height: auto;
    background-color: #D4E9E7;
    position: relative;
    margin: auto;
    width: 50%;
}

div .title-card {
    background-image: url(/midterm/images/lone-starfish-wide.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
    padding-left: none;
    
}

.navigations {
    list-style: none;
    overflow: hidden;
}

.navigations li {
    list-style: none;
    font-style: none;
    float: left;
}

.navigations li a {
    text-decoration: none;
    font-size: 24px;
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

article h2{
    padding-left: 1%;
}

article img{
    float: left;
    max-width: 30%;
    height: auto;
    padding-right: 1%;
    padding-left: 1%;
    display: inline-flex;
}

article p, li {
    font-style: normal;
    word-wrap: normal;
    padding-left: 1%;
    font-size: 13.5px;
}

.form-submission {
    font-size: large;
    padding: 2%;
    width: 93%;
    border-style:solid;
    border-width:thin;
    font-size: 14px;
    margin:auto;

}

.form-submission h2 {
    padding-left: 1%;
}

.form-submission input{
    padding-bottom: 1%;
}

section div .field-inputs input{
    width: 100%;
}

section div .field-inputs #bigger-textarea{
    height: 250px;
}

footer{
    text-align: right;
    padding: 20px;
    
}